.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.card {
  background: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  text-align: left;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.02);
}

.img-responsive {
  width: 100%;
  display: block;
  filter: brightness(0.9) contrast(1.1); /* CSS Filter applied */
  border-radius: 10px;
}

iframe {
  border-radius: 10px;
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

thead {
  background-color: #f3eacb;
  font-weight: bold;
}
